[submodule "engine"]
	path = engine
	url = https://github.com/OpenDiabetes/OpenDiabetesVault-engine
[submodule "gui-desktop"]
	path = gui-desktop
	url = git@github.com:OpenDiabetes/OpenDiabetesVault-gui-desktop.git
[submodule "plot-config-generator"]
	path = plot-config-generator
	url = git@github.com:OpenDiabetes/OpenDiabetesVault-plot-config-generator.git
[submodule "plot"]
	path = plot
	url = git@github.com:OpenDiabetes/OpenDiabetesVault-plot.git
